:root {
  --main-color: black;
  --secondary-color: #08f;
  --container-corner-radius: 10px;
  --title-size: 25px;
}

.navbar-dark, .bg-dark{
  background-color: black !important;
}

.fa:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

.white {
  background-color: white;
}

.fa-upload, .fa-lock, .fa-unlock {
  color: white;
  position: relative;
  top: 5px;
  left: 50px;
  font-size: 30px;
}

.fa-lock, .fa-unlock {
  left: 60px;
}

.fa-trash-alt {
  color: red;
}

.fa-edit {
  color: orange;
}

.fa-plus {
  color: green;
}
